/* DARK MODE GLOBAL */
body.dark {
  background-color: #0f172a;
  color: #ffffff;
}

/* All text */
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark p,
body.dark span,
body.dark li,
body.dark a,
body.dark .nav-item,
body.dark .logo,
body.dark .btn,
body.dark .breadcrumb-item,
body.dark strong,
body.dark pre
{
  color: #ffffff !important;
}

body.dark .text-muted{
  color: white !important;
}


/* Cards / boxes */
body.dark .card,
body.dark .container,
body.dark .container-fluid,
body.dark .row > div {
  background-color: #1e293b !important;
  color: #ffffff !important;
}

/* Sidebar */
body.dark .sidebar {
  background-color: #0b1a33 !important;
  color: white;
}

/* Buttons */
body.dark .btn {
  color: white;
}

/* Breadcrumb */
body.dark .breadcrumb-item {
  color: #cbd5e1;
}

/* Console area */
body.dark pre,
body.dark code {
  background: black !important;
  color: #00ff00 !important;
}